<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          rel="stylesheet"
          media="screen" />

    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"
            th:src="@{/webjars/bower/jquery/3.3.1/jquery.min.js}"></script>
    <meta charset="UTF-8">

    <title>Spring boot demo</title>

</head>

<body>
    <div>
        <h1>Spring boot demo page</h1>
        <h2>This is a demo indexpage. Enjoy.</h2>
    </div>
</body>
</html>